<div class="chat-card weapon" data-item-id="{{_id}}" data-owner-id="{{owner}}">
    <header class="card-header">
        <img src="{{img}}" title="{{name}}" width="36" height="36"/>
        <h3 class="weapon-name">{{name}}</h3>
    </header>
    <div class="card-content">
        {{{data.description}}}
    </div>
    <div class="card-buttons">
        <button class="attack">{{localize "adnd2n.weapon.attack"}}</button>
        <button class="damage">{{localize "adnd2n.weapon.damage"}}</button>
    </div>
</div>