<form class="{{cssClass}}" autocomplete="off">
    <section class="character-header">
        <section class="row row1">
            <div class="form-text"><label for="playerName">{{localize "adnd2n.character.playerName"}}</label><input id="playerName" type="text" value="{{actor.playerName}}"/></div>
            <div class="form-text"><label for="characterName">{{localize "adnd2n.character.characterName"}}</label><input id="characterName" type="text" value="{{actor.characterName}}"/></div>
        </section>
        <section class="row row2">
            <div class="form-text"><label for="race">{{localize "adnd2n.character.race"}}</label><input id="race" type="text" value="{{actor.race}}"/></div>
            <div class="form-text"><label for="movementSpeed">{{localize "adnd2n.character.movementSpeed"}}</label><input id="movementSpeed" type="text" value="{{actor.movementSpeed}}"/></div>
            <div class="form-text"><label for="class">{{localize "adnd2n.character.class"}}</label><input id="class" type="text" value="{{actor.class}}"/></div>
            <div class="form-text"><label for="alignment">{{localize "adnd2n.character.alignment"}}</label><input id="alignment" type="text" value="{{actor.alignment}}"/></div>
        </section>
        <section class="row row3">
            <div class="form-text"><label for="hair">{{localize "adnd2n.character.appearance.hair"}}</label><input id="hair" type="text" value="{{actor.hair}}"/></div>
            <div class="form-text"><label for="eyes">{{localize "adnd2n.character.appearance.eyes"}}</label><input id="eyes" type="text" value="{{actor.eyes}}"/></div>
            <div class="form-text"><label for="size">{{localize "adnd2n.character.size"}}</label><input id="size" type="text" value="{{actor.size}}"/></div>
            <div class="form-text"><label for="sex">{{localize "adnd2n.character.appearance.sex"}}</label><input id="sex" type="text" value="{{actor.sex}}"/></div>
        </section>
        <section class="row row4">
            <div class="form-text"><label for="appearance">{{localize "adnd2n.character.appearance.misc"}}</label><input id="appearance" type="text" value="{{actor.misc}}"/></div>
            <div class="form-text"><label for="age">{{localize "adnd2n.character.age"}}</label><input id="age" type="text" value="{{actor.age}}"/></div>
            <div class="form-text"><label for="handed">{{localize "adnd2n.character.handed"}}</label><input id="handed" type="text" value="{{actor.handed}}"/></div>
        </section>
    </section>
    <br>
    <section class="character-stats">
        <section class="row strength">
            <div class="attribute">{{localize "adnd2n.attributes.strength.str"}}</div>
            <div class="value"><input type="text" value="{{actor.attributes.strength.value}}"></input></div>
            <div class="form-text"><label for="hitAdjust">{{localize "adnd2n.attributes.strength.hitAdjust"}}</label><input id="hitAdjust" type="text" value="{{actor.attributes.strength.hitAdjust}}"></input></div>
            <div class="form-text"><label for="damageAdjust">{{localize "adnd2n.attributes.strength.damageAdjust"}}</label><input id="damageAdjust" type="text" value="{{actor.attributes.strength.damageAdjust}}"></input></div>
            <div class="form-text"><label for="weightAllowance">{{localize "adnd2n.attributes.strength.weightAllowance"}}</label><input id="weightAllowance" type="text" value="{{actor.attributes.strength.weightAllowance}}"></input></div>
            <div class="form-text"><label for="maxPress">{{localize "adnd2n.attributes.strength.maxPress"}}</label><input id="maxPress" type="text" value="{{actor.attributes.strength.maxPress}}"></input></div>
            <div class="form-text"><label for="openDoors">{{localize "adnd2n.attributes.strength.openDoors"}}</label><input id="openDoors" type="text" value="{{actor.attributes.strength.openDoors}}"></input></div>
            <div class="form-text"><label for="bendBars">{{localize "adnd2n.attributes.strength.bendBars"}}</label><input id="bendBars" type="text" value="{{actor.attributes.strength.bendBars}}"></input></div>
        </section>
        <section class="row dexterity">
            <div class="attribute">{{localize "adnd2n.attributes.dexterity.dex"}}</div>
            <div class="value"><input type="text" value="{{actor.attributes.dexterity.value}}"></input></div>
            <div class="form-text"><label for="hitAdjust">{{localize "adnd2n.attributes.dexterity.hitAdjust"}}</label><input id="hitAdjust" type="text" value="{{actor.attributes.dexterity.hitAdjust}}"></input></div>
            <div class="form-text"><label for="defAdjust">{{localize "adnd2n.attributes.dexterity.defAdjust"}}</label><input id="defAdjust" type="text" value="{{actor.attributes.dexterity.defAdjust}}"></input></div>
        </section>
        <section class="row constitution">
            <div class="attribute">{{localize "adnd2n.attributes.constitution.con"}}</div>
            <div class="value"><input type="text" value="{{actor.attributes.constitution.value}}"></input></div>
            <div class="form-text"><label for="hpAdjust">{{localize "adnd2n.attributes.constitution.hpAdjust"}}</label><input id="hpAdjust" type="text" value="{{actor.attributes.constitution.hpAdjust}}"></input></div>
            <div class="form-text"><label for="systemShock">{{localize "adnd2n.attributes.constitution.systemShock"}}</label><input id="systemShock" type="text" value="{{actor.attributes.constitution.systemShock}}"></input></div>
            <div class="form-text"><label for="resurrectionSurvival">{{localize "adnd2n.attributes.constitution.resurrectionSurvival"}}</label><input id="resurrectionSurvival" type="text" value="{{actor.attributes.constitution.resurrectionSurvival}}"></input></div>
            <div class="form-text"><label for="poisonSave">{{localize "adnd2n.attributes.constitution.poisonSave"}}</label><input id="poisonSave" type="text" value="{{actor.attributes.constitution.poisonSave}}"></input></div>
            <div class="form-text"><label for="regeneration">{{localize "adnd2n.attributes.constitution.regeneration"}}</label><input id="regeneration" type="text" value="{{actor.attributes.constitution.regeneration}}"></input></div>
        </section>
        <section class="row intelligence">
            <div class="attribute">{{localize "adnd2n.attributes.intelligence.int"}}</div>
            <div class="value"><input type="text" value="{{actor.attributes.intelligence.value}}"></input></div>
            <div class="form-text"><label for="languages">{{localize "adnd2n.attributes.intelligence.languages"}}</label><input id="languages" type="text" value="{{actor.attributes.intelligence.languages}}"></input></div>
            <div class="form-text"><label for="maxSpellLevel">{{localize "adnd2n.attributes.intelligence.maxSpellLevel"}}</label><input id="maxSpellLevel" type="text" value="{{actor.attributes.intelligence.maxSpellLevel}}"></input></div>
            <div class="form-text"><label for="spellLearnChance">{{localize "adnd2n.attributes.intelligence.spellLearnChance"}}</label><input id="spellLearnChance" type="text" value="{{actor.attributes.intelligence.spellLearnChance}}"></input></div>
            <div class="form-text"><label for="maxSpellsPerLevel">{{localize "adnd2n.attributes.intelligence.maxSpellsPerLevel"}}</label><input id="maxSpellsPerLevel" type="text" value="{{actor.attributes.intelligence.maxSpellsPerLevel}}"></input></div>
        </section>
        <section class="row willpower">
            <div class="attribute">{{localize "adnd2n.attributes.willpower.wil"}}</div>
            <div class="value"><input type="text" value="{{actor.attributes.willpower.value}}"></input></div>
            <div class="form-text"><label for="defAdjust">{{localize "adnd2n.attributes.willpower.defAdjust"}}</label><input id="defAdjust" type="text" value="{{actor.attributes.willpower.defAdjust}}"></input></div>
            <div class="form-text"><label for="bonusSpells">{{localize "adnd2n.attributes.willpower.bonusSpells"}}</label><input id="bonusSpells" type="text" value="{{actor.attributes.willpower.bonusSpells}}"></input></div>
            <div class="form-text"><label for="spellFailure">{{localize "adnd2n.attributes.willpower.spellFailure"}}</label><input id="spellFailure" type="text" value="{{actor.attributes.willpower.spellFailure}}"></input></div>
        </section>
        <section class="row charisma">
            <div class="attribute">{{localize "adnd2n.attributes.charisma.chr"}}</div>
            <div class="value"><input type="text" value="{{actor.attributes.charisma.value}}"></input></div>
            <div class="form-text"><label for="henchmen">{{localize "adnd2n.attributes.charisma.henchmen"}}</label><input id="henchmen" type="text" value="{{actor.attributes.charisma.henchmen}}"></input></div>
            <div class="form-text"><label for="loyaltyBase">{{localize "adnd2n.attributes.charisma.loyaltyBase"}}</label><input id="loyaltyBase" type="text" value="{{actor.attributes.charisma.loyaltyBase}}"></input></div>
            <div class="form-text"><label for="reactionAdjust">{{localize "adnd2n.attributes.charisma.reactionAdjust"}}</label><input id="reactionAdjust" type="text" value="{{actor.attributes.charisma.reactionAdjust}}"></input></div>
        </section>
        <section class="row perception">
            <div class="attribute">{{localize "adnd2n.attributes.perception.pcp"}}</div>
            <div class="value"><input type="text" value="{{actor.attributes.perception.value}}"></input></div>
            <div class="form-text"><label for="surpriseAdjust">{{localize "adnd2n.attributes.perception.surpriseAdjust"}}</label><input id="surpriseAdjust" type="text" value="{{actor.attributes.perception.surpriseAdjust}}"></input></div>
            <div class="form-text"><label for="illusionImmunity">{{localize "adnd2n.attributes.perception.illusionImmunity"}}</label><input id="illusionImmunity" type="text" value="{{actor.attributes.perception.illusionImmunity}}"></input></div>
        </section>
    </section>
</form>