<form class="{{cssClass}}" autocomplete="off">
    <section class="character-header">
        <input name="playerName" type="text" value="{{actor.playerName}}" placeholder="{{localize "adnd2n.character.playerName"}}"/>
        <input name="characterName" type="text" value="{{actor.characterName}}" placeholder="{{localize "adnd2n.character.characterName"}}"/>
        <input name="race" type="text" value="{{actor.race}}" placeholder="{{localize "adnd2n.character.race"}}"/>
        <input name="movementSpeed" type="text" value="{{actor.movementSpeed}}" placeholder="{{localize "adnd2n.character.movementSpeed"}}"/>
        <input name="class" type="text" value="{{actor.class}}" placeholder="{{localize "adnd2n.character.class"}}"/>
        <input name="alignment" type="text" value="{{actor.alignment}}" placeholder="{{localize "adnd2n.character.alignment"}}"/>
        <input name="hair" type="text" value="{{actor.appearance.hair}}" placeholder="{{localize "adnd2n.character.appearance.hair"}}"/>
        <input name="eyes" type="text" value="{{actor.appearance.eyes}}" placeholder="{{localize "adnd2n.character.appearance.eyes"}}"/>
        <input name="sex" type="text" value="{{actor.appearance.sex}}" placeholder="{{localize "adnd2n.character.appearance.sex"}}"/>
        <input name="appearance" type="text" value="{{actor.appearance.misc}}" placeholder="{{localize "adnd2n.character.appearance.misc"}}"/>
        <input name="age" type="text" value="{{actor.age}}" placeholder="{{localize "adnd2n.character.age"}}"/>
        <input name="handed" type="text" value="{{actor.handed}}" placeholder="{{localize "adnd2n.character.handed"}}"/>
    </section>
</form>

 